{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit an Entry
{% endblock %}

{% block body %}
    <h1>Editing Entry for: {{title}}</h1>
    {% comment %} <form action="{% url 'new_entry' %}" method="get">
        <input type="text">
        <textarea name="new_entry" id="" cols="30" rows="10"></textarea>
        <input type="submit">
    </form> {% endcomment %}
    {% comment %} {{form}} {% endcomment %}
    <div>
        {% comment %} TODO: the form should redirect to the new page you just created for the action!!!!! {% endcomment %}
        <form method="post">
            {% csrf_token %}
            <div>
                <textarea name="edited_markdown_entry" id="" cols="30" rows="10">{{ entry |safe}}</textarea>
            </div>
            <div>
                <input type="submit" value='submit'>
            </div>
        </form>
    </div>
{% endblock %}